

#left {
    display: table-cell;
    vertical-align: top;
    width: 80%;
    float: left;
    margin-right:0;
}
#right {
    display: table-cell;
    margin-top: 15%;
    float: right;
    width: 20%;
    background-color: black;
    border-radius: 20px;
    text-emphasis-color: white;
}

h1 {
  font-size:3em; 
  font-weight: 300;
  margin: auto;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

u {
  font-size:1em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:2em; 
  font-weight: 300;
  text-align: center;
  margin: auto;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

#expense_description {
  font-size:1em; 
  font-weight: 500;
  text-align: center;
  margin: auto;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #185875; }

.container th h1 {
  border-radius: 25px;
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: white;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  border-radius: 25px;
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

.container tr:nth-child(odd) {
	  background-color: whitesmoke;
}

.container tr:nth-child(even) {
	  background-color: white;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.labels tr:hover {
   background-color: sky-blue;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.labels td:hover {
  background-color: teal;
  color: #403E10;
  font-weight: bold;
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }

.container td:nth-child(5),
.container th:nth-child(5) { display: none; }

#head{
    display:none;
}

}

[data-toggle="toggle"] {
	display: none;
}


/* SIDEBAR OF TAGS */
.sidenav {
  text-align: center;
  float: right;
  width: 240px;
  height: 600px;
  position: relative;
  z-index: 1;
  padding: 8px;
  right: 10px;
  background:white;
  border: 3px solid #000;
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-right: 50px; /* Same width as the sidebar + left position in px */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media (max-width: 1000px) {

    .sidenav{
      display:none;
      visibility: hidden;
    }
    #expense_description{
      display:none;
    }
    .main{
      margin-right:0px;
    }
}