body
{ 
    text-align: center; 
    margin-top: 50px;
    background: whitesmoke; 
    font-family: sans-serif; 
    font-weight: 100; 
} 

.testbox { 
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    width: 360px; 
    height: 250px; 
    -webkit-border-radius: 8px/7px; 
    -moz-border-radius: 8px/7px; 
    border-radius: 8px/7px; 
    background: grey;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
   
  }
  
  input[type=text]{
    width: 230px; 
    height: 40px; 
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 4px 4px 4px 4px/5px 5px 4px 4px; 
    background-color: #fff; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 3px #cbc9c9;
    margin: 20px auto; 
    padding-left: 10px;
  }

  .btn {
    font-family: cursive; ;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 0px 10px 0px 20px;
    margin: 20px 0px 10px 10px;
    display: inline-block;
    float: right;
    text-decoration: none;
    width: 200px; height: 40px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    background-color: #3a57af; 
    -webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
    -moz-box-shadow: 0 3px rgba(58,87,175,.75); 
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s; 
    top: 0px;

  }
  
  .btn:hover {
    top: 3px;
    background-color:#2e458b;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none; 
    box-shadow: none;
    
  }